.recommended-friends {
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 25px 0px;
  margin: 25px 0px;
}

.recommended-friends__title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.recommended-friends span {
  display: block;
  text-align: center;
  margin: 110px 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.open-chat__header--title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 3px;
}

.open-post__members-count {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__members-status {
  color: #ffb0e0;
}

.open-post__main--image {
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.open-post__heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.open-post__heart span {
  margin-left: 3px;
}

.open-post__photo {
  position: relative;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    tranform: none;
  }
}
.open-post__heart:hover i {
  will-change: transform;
  animation: heartBeat 1s ease-in-out infinite;
}
