.friends-display-link {
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: #fafafa;
  margin-bottom: 10px;
  margin-top: -15px;
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  border-top: var(--border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
