.user-component__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-component__subtitle i {
  color: red;
}

.more-suggestion {
  margin-top: 50px;
  padding-top: 20px;
  border-top: var(--border);
}

.more-suggestions__icons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  color: white;
  font-size: 32px;
}
