.settings-item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-item i {
  margin-right: 10px;
  font-size: 20px;
}

.settings-item__column:last-child {
  opacity: 0.5;
}
