.new-badge {
  background-color: tomato;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  bottom: 26px;
}

.new-badge__find {
  right: -3px;
  bottom: 20px;
}
